<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include ('../../partials/head.ejs') %>
</head>
<body>
  <%- include ('../partials/navbar.ejs') %>

  <div class="container">
    <h5>Atualizar</h5>

    <hr>

    <div class="card">
      <div class="card-body">
        <form id="update">
          <div class="mb-3">
            <label class="form-label" for="name">Nome</label>
            <input class="form-control" type="text" id="name" name="name" value="<%= category.name %>">
          </div>

          <input type="hidden" name="id" value="<%= category.id %>">

          <button class="btn btn-primary w-100" type="submit">Atualizar</button>
        </form>
      </div>
    </div>
  </div>

  <%- include ('../../partials/scripts.ejs') %>

  <script>
    const formUpdate = document.querySelector("form#update")

    formUpdate.addEventListener("submit", async (event) => {
      event.preventDefault()

      const id = event.target.id.value
      const name = event.target.name.value

      const response = await fetch(`http://localhost:5500/admin/categories/update`, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          id,
          name
        })
      })

      const { message } = await response.json()

      if (message === "success") {
        location.href = "/admin/categories"
      } else {
        alert("Oops! Algo deu errado")
      }
    })
  </script>
</body>
</html>
