<%- include ("./partials/header.ejs") %>
<body>
  <%- include ("./partials/navbar.ejs") %>

  <div class="container">
    <% if (questions.length === 0) { %>
      <p class="text-body-tertiary text-center">Nenhuma pergunta encontrada</p>
    <% } else { %>
      <div class="row g-4">
        <% for (const question of questions) { %>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= question.title %></h5>
                <p class="card-text" style="display: -webkit-box; overflow: hidden; -webkit-line-clamp: 3; -webkit-box-orient: vertical;"><%= question.description %></p>
                <a href="/question/<%= question.id %>" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
</body>
</html>
<%- include ("./partials/footer.ejs") %>
